.image-wrap img{
  max-width: 1356px;
  width: 100%;
}
.absolute-wrapper svg{
  max-width: 1356px;
  width: 100%;
  height: auto;
}
.image-wrap{
  position: relative;
  display: inline-block;
}
.absolute-wrapper{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.absolute-wrapper path{
  opacity: 0;
  transition: all 0.3s ease;
}
.absolute-wrapper path:hover{
  opacity: 1;
}
.members-box a{
  display: flex;
}
.members-box{
  background: #fff;
  padding: 25px 60px 25px 25px;
  position: absolute;
  opacity: 0;
  transition: all 0.3s ease;
  pointer-events: none;
}
.members-box.active{
  opacity: 1;
  pointer-events: auto;
}
.member1-box{
  bottom: 20%;
  left: 20%;
}
.members-box h3{
  margin: 0 !important;
  margin-top: 10px !important;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
.member2-box{
  top: 12%;
  left: 10%;
}
.member3-box{
  top: 45%;
  left: 20%;
}
.member4-box{
  top: 18%;
  left: 53%;
}
.member5-box{
  top: 8%;
  right: 15%;
}
.member6-box{
  bottom: 16%;
  right: 20%;
}
.member7-box{
  bottom: 40%;
  right: 5%;
}
@media (max-width: 1024px){
 .members-box{
   padding: 20px 50px 20px 20px !important;
}
  .members-box h3{
    font-size: 16px;
  }
}
@media (max-width: 767px){
  .members-box h3{
    font-size: 12px;
  }
  .members-box a{
    width: 30px;
    height: 30px;
    display: flex;
  }
  .members-box{
    padding: 10px 30px 10px 10px !important;
  }
  .members-box a svg{
    height: 100%;
    width: 100%;
  }
}
